uploads/
output/
bin/
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
.eclipse
*_20[0-9][0-9]-??-??-??-??-??*

**/logs
**/*.iml
**/*.ipl
**/*.ipr
**/*.ids
**/*.iws
**/output
**/local.properties
hash.properties
.idea
.DS_Store
.settings
.project
mvnw
mvnw.cmd
*.md
.classpath
.project
test
target/

